<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission06_colelevi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<header>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar for all pages -->
    <div class="navbar navbar-expand" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="MovieForm">Movie Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Podcast">Podcast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="ShowMovies">Show Movies</a>
            </li>

        </ul>
    </div>
</nav>
</header>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
