@{
    ViewData["Title"] = "Application Submitted";
}

<h2>Movie Submission Saved</h2>
<h3>Thank You!</h3>
<br />
<a asp-controller="Home" asp-action="ShowMovies">Show all Movies</a>
<br />
<a asp-controller="Home" asp-action="MovieForm">Submit Another Movie</a>