@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Joel Hilton Film Collection</p>
</div>

<div>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="300"/>
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieForm">Fill out movie form</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Podcast">Listen to Joel's podcast</a>
</div>